body {
  overflow-x: hidden;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}

form select {
  width: 200px;
  height: 30px;
}

[disabled] {
  color: #9a9a9a;
  background: #f9f9f9;
}

.header-content {
  height: 50px;
  background: black;
}

.header-content #insidedlogo {
  width: 100px;
  margin-left: 15px;
  margin-top: 10px;
}

.header-content .user-logged {
  color: white;
  display: inline;
  position: relative;
  left: 69%;
  top: 5px;
}

.header-content .user-logged img {
  width: 30px;
  margin-left: 8px;
}

.full-container {
  max-width: 940px;
}

.wrapper .sidebar-wrapper .sub-menu {
  list-style-type: none;
}

.wrapper .sidebar-wrapper {
  border: 1px solid grey;
  z-index: 1000;
  position: absolute;
  top: 49px;
  left: 250px;
  width: 200px;
  height: 1200px;
  margin-left: -250px;
  background: #f8f8f8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper .sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 0px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

.wrapper .sidebar-nav .sub-menu li:nth-child(1):before {
  background: #f8f8f8;
}

.wrapper .sidebar-nav .sub-menu li:nth-child(2):before {
  background-color: #f8f8f8;
}

.wrapper .sidebar-nav .sub-menu li:nth-child(3):before {
  background-color: #f8f8f8;
}

.wrapper .sidebar-nav li:nth-child(2):before {
  background-color: #ec1b5a;
}

.wrapper .sidebar-nav li:nth-child(3):before {
  background-color: #79aefe;
  height: 20%;
}

.wrapper .sidebar-nav li:nth-child(4):before {
  background-color: #314190;
}

.wrapper .sidebar-nav li:nth-child(5):before {
  background-color: #279636;
}

.wrapper .sidebar-nav li:nth-child(6):before {
  background-color: #7d5d81;
}

.wrapper .sidebar-nav li:nth-child(7):before {
  background-color: #ead24c;
}

.wrapper .sidebar-nav li:nth-child(8):before {
  background-color: #2d2366;
}

.wrapper .sidebar-nav li:nth-child(9):before {
  background-color: #35acdf;
}

.wrapper .sidebar-nav li:hover:before,
.wrapper .sidebar-nav li.open:hover:before {
  width: 2%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

.wrapper .sidebar-nav li a:hover,
.wrapper .sidebar-nav li a:active,
.wrapper .sidebar-nav li a:focus,
.wrapper .sidebar-nav li.open a:hover,
.wrapper .sidebar-nav li.open a:active,
.wrapper .sidebar-nav li.open a:focus {
  text-decoration: none;
  background-color: transparent;
}

.wrapper .sidebar-wrapper .nav li a {
  padding: 10px 0;
}

.wrapper .sidebar-wrapper .sidebar-nav {
  position: relative;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper .sidebar-wrapper .sidebar-nav li {
  text-indent: 20px;
}

.wrapper .sidebar-wrapper .sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: black;
}

.sidebar-nav li a:hover {
  color: black;
  background: rgba(255,255,255,0.2);
}

.wrapper .sidebar-wrapper .sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.wrapper .sidebar-wrapper .sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.wrapper .sidebar-wrapper .sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.page-content-wrapper {
  width: 100%;
  position: relative;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.wrapper {
  padding-left: 230px;
}

.advanced-search {
  background: #f8f8f8;
  border: 1px solid grey;
  padding: 15px;
  padding-left: 20px;
}

.advanced-search form {
  margin-bottom: 12px;
  margin-right: 5px;
}

.advanced-search .container_2 #datepicker {
  width: 200px;
  height: 30px;
  position: relative;
  top: -1px;
}

.advanced-search .container_2 #close-img {
  width: 30px;
  height: 30px;
  position: relative;
  right: 8px;
  top: -2px;
}

.advanced-search .container_1 #close-img {
  width: 30px;
  height: 30px;
  position: relative;
  right: 8px;
  top: -2px;
}

.advanced-search .container_3 .multi-option {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 0px;
}

.advanced-search .container_3 .usergroup-form {
  margin-right: 20px;
}

.advanced-search .container_3 .row-custom {
  float: left;
}

.advanced-search .container_3 .multi-option .dropdown-menu li a:hover {
  background: #2baef2;
}

.advanced-search .container_3 .multi-option .dropdown-menu li label {
  font-weight: 100;
  width: 150px;
}

.advanced-search .container_3 .multi-option .dropdown-menu .dropdown-header {
  font-weight: bolder;
  color: black;
}

.advanced-search .container_3 .multi-option .dropdown-menu button {
  color: #2baef2;
  border: none;
  background: none;
  font-size: 12px;
  margin-left: 14px;
}

.advanced-search .container_3 .multi-option .dropdown-menu button:focus {
  outline: none;
}

.advanced-search .container_3 .multi-option .dropdown-menu button:hover {
  text-decoration: underline;
}

.advanced-search .container_3 .btn {
  border-radius: 0px;
  width: 70px;
  height: 30px;
  line-height: 0;
  font-size: 12px;
  font-weight: bolder;
}

.advanced-search .container_3 .multi-btn {
  width: 200px;
  font-weight: lighter;
  text-align: left;
  padding-left: 5px;
  border-color: rgb(169, 169, 169);
}

.advanced-search .container_3 button.multi-btn:focus {
  background: none!important;
}

.advanced-search .container_3 button.multi-btn:hover {
  background: none;
}

.advanced-search .container_3 button.multi-btn:active {
  background: none;
  box-shadow: none;
}

.advanced-search .container_3 .multi-btn .caret {
  margin-left: 38px;
}

.advanced-search .container_3 #close-img {
  width: 30px;
  height: 30px;
  position: relative;
  right: 8px;
  top: -2px;
}

.advanced-search .container_3 #btn-reset-3 {
  margin-left: 5px;
}

.advanced-search .btn-reset {
  width: 30px;
  height: 30px;
  display: none;
}

.advanced-search .dropdown-menu {
  width: 200px;
  border-radius: 0;
  border-top: 0;
  top: 85%;
}

.advanced-search form {
  float: left;
}

.advanced-search .sub-title-search {
  font-weight: bolder;
}

.checkboxes .sub-title-columns {
  padding-left: 21px;
  font-weight: bolder;
  top: 10px;
  position: relative;
}

.clear:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.checkboxes {
  background: #f8f8f8;
  border: 1px solid grey;
  border-top: 0px solid white;
  padding: 15px;
  padding-left: 0px;
}

.checkboxes .row {
  max-width: 900px;
}

ul.checkbox li {
  border: 1px transparent solid;
  display: inline-block;
  width: 12em;
}

.checkbox label {
  padding-left: 0px;
}

.button-container {
  background: #f8f8f8;
  border: 1px solid grey;
  border-top: 0px solid white;
  padding: 15px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.button-container .btn {
  border-radius: 0px;
  width: 70px;
  height: 30px;
  line-height: 0;
  font-size: 12px;
  font-weight: bolder;
}

.button-container .btn-link {
  color: red;
}

.custom-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.right {
  text-align: right;
}

.pagination-container form {
  display: inline;
}

.pagination-bottom form {
  display: inline;
}

.select-pag {
  width: 90px;
  height: 30px;
}

.custom-pagination li {
  display: inline;
  margin: 3px;
}

.custom-pagination a {
  color: #afdbfa;
}

.custom-pagination a:hover {
  text-decoration: none;
}

.custom-pagination li:nth-child(1) {
  color: #ddd;
}

.custom-pagination li:nth-child(2) {
  border-right: 1px solid #ddd;
}

.custom-pagination li:nth-child(3) {
  color: #ddd;
  top: -2px;
  position: relative;
}

.custom-pagination li:nth-child(10) {
  top: -2px;
  position: relative;
}

.custom-pagination li:nth-child(6) {
  border: 1px solid #adadad;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.custom-pagination .divider {
  border-right: 1px solid #adadad;
}

.table-user {
  background: #f8f8f8;
  border: 1px solid grey;
  padding: 15px;
  margin-top: 15px;
}

.table-user .dropdown-row {
  margin-top: 10px;
  margin-bottom: -10px;
}

.table-user #avatar-table {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.table-user #window-ico {
  width: 25px;
  height: 25px;
}

.table-user .img-window {
  float: right;
  width: 20%;
}

.table-user .table-dropdown {
  visibility: hidden;
  margin-bottom: 10px;
}

.table-user .dropdown-row .right button {
  width: 107px;
  height: 30px;
  padding: 0;
  font-size: 12px;
}

.table-user .dropdown-row #lazy-icon {
  position: relative;
  width: 17px;
  right: 5px;
  top: -1px;
}

.table-user .table-dropdown form select {
  float: left;
  margin-right: 5px;
  width: 130px;
  height: 30px;
}

.table-user .table-dropdown form select {
  margin-right: 5px;
}

.table-user .btn-apply {
  position: relative;
  font-size: 12px;
  width: 55px;
  height: 30px;
}

.table-user .record_table {
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
}

.table-user .record_table tr:hover {
  background: #ebf8fe;
}

.table-user .record_table th:hover {
  background: #f8f8f8;
}

.table-user .record_table td {
  border: 1px solid #eee;
  text-align: center;
  height: 50px;
}

.table-user .record_table td:first-child + td {
  text-align: left;
  padding-left: 5px;
}

.table-user .record_table tr th {
  text-align: center;
}

.table-user .record_table tr th:first-child + th {
  text-align: left;
}

.table-user .record_table .highlight_row {
  background: #ebf8fe;
}

.table-user .record_table .highlight_row:first-child {
  background: #f8f8f8;
}

.table-user .record_table a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.table-user .record_table a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.table-user .dropdown-row .right button {
  width: 107px;
  height: 30px;
  padding: 0;
  font-size: 12px;
}

.table-user .dropdown-row #lazy-icon {
  position: relative;
  width: 17px;
  right: 5px;
  top: -1px;
}

.glyphicon {
  display: inline;
  margin-right: 20px;
}

.pagination-container .tag-container {
  background-color: #d9d9d9;
  position: relative;
  top: 10px;
  color: #FFFFFF;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  width: 85px;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
}

.pagination-container .tag-container p {
  color: black;
  position: relative;
  left: 35px;
  top: 6px;
}

.close-tag {
  background-color: #d9d9d9;
  width: 25px;
  padding: 3px;
  position: absolute;
  left: 5px;
  text-align: center;
  color: #333333;
  top: 3px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .table-user .btn-apply {
    margin-top: 5px;
  }

  .advanced-search  .container_3 .multi-option {
    margin-bottom: 5px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 992px) {
  .table-user .dropdown-row .btn-bottom {
    text-align: left;
  }
}